body {
    font-family: 'Consolas', monospace;
    margin: 0px;
    margin-left: 5px;
    padding: 0px; 
    height: 100vh;
    background: lightblue
}

.title{
    font-family: 'Brush Script MT', cursive; 
    font-size: 65px;
    margin: 0px;
    position: relative;

}

.menu-toggle{
    display:none;
}

header, nav {
    margin: 0px;
    padding: 0px;
    color: #141212;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Push items to the edges of the container */
    } 

nav {
    flex-wrap:wrap;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: #090808;
    text-decoration: none;
}
.flex-container1 {
display:flex;
margin: 5px;
}

.caaren_img {
    width: 350px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px;
}

#Caaren {
    width: fit-content;
    margin: 5px;
    text-align: right;
}

#pronounce {
    width: fit-content;
    margin: 5px;
    text-align: right;
}


.screenshot_img {
    width: 800px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    text-align: center;
}

.footer {
    margin: 0px;
    padding: 0px;
    color: #141212;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer ul li {
    margin-right: 20px;
}

.footer a {
    color: #090808;
    text-decoration: none;
}

/*medium*/
@media (max-width: 1231px) {
    body{
        background: lightsalmon;
    }
   
    body .title{
        font-family: 'Brush Script MT', cursive; 
        font-size: 50px;
        margin: 0px;
        position: relative;
}
}

/*small*/
@media (max-width: 800px) {
    body{
        background: lightgreen;
    }

    .menu-toggle{
        display:block;
    }

    .menu {
        display:none;
        flex-wrap: wrap;
        flex-direction: row;
        position: absolute; top: 0px; right: 0px;
        top: 40px; /* Adjust the top position based on your header height */
        padding: 10px, 10px, 10px, 10px;
        z-index: 1;
    }
    
    .menu.active{
        display:block;
      }

      .menu ul {
        list-style: none;
        display: flex;
        flex-direction: column; /* Align items vertically */
    }

    body .caaren_img {
        width: 200px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
    }

    .screenshot_img {
        width: 300px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        text-align: center;
    }

}


